<div [formGroup]="form">
    <base-input [label]="'input simple'" [formGroup]="form" [controlName]="'input'"></base-input>
    <base-input [label]="'Validateur async'" [formGroup]="form" [controlName]="'input2'"></base-input>
    <base-input [label]="'Date'" [formGroup]="form" [controlName]="'input3'" [type]="'date'"></base-input>


    <div *ngIf="lastChange">
        <h3> Dernière modification :</h3>
        <div>{{lastChangeFormated}}</div>
    </div>
    <button (click)="formSend()">Send</button>
</div>