<div [formGroup]="form">
    <base-input [label]="'input simple'" [control]="form.controls.base" [errorList]="errorList"></base-input>
    <base-input [label]="'Validateur async'" [control]="form.controls.async" [errorList]="errorList"></base-input>
    <base-date [label]="'Date'" [control]="form.controls.date" [errorList]="errorList"></base-date>
    <base-input [label]="'Téléphone'" [control]="form.controls.telephone" [type]="'telephone'" [errorList]="errorList">
    </base-input>
    <base-input [label]="'text long'" [control]="form.controls.textarea" [type]="'textarea'" [errorList]="errorList">
    </base-input>

    <div *ngIf="lastChange">
        <h3> Dernière modification :</h3>
        <div>{{lastChangeFormated}}</div>
    </div>
</div>