<div class="container">
    <label for="{{ id }}" class="label">{{ label }}
        <label class="required">{{ required ? '*' : '&nbsp;&nbsp;' }}</label>
    </label>

    <!-- Inputs -->
    <ng-container *ngIf="type !== 'textarea'">
        <mat-form-field floatLabel="never">
            <input matInput id="{{ id }}" [formControl]="control" [type]="type" [maxlength]="maxLength"
                [textMask]="{mask: mask}" [placeholder]="placeholder">

            <mat-error *ngIf="control.invalid" [innerHTML]="getErrorMessage()"></mat-error>
        </mat-form-field>
    </ng-container>

    <!-- TextAreas -->
    <ng-container *ngIf="type === 'textarea'">
        <mat-form-field floatLabel="never">
            <textarea matInput id="{{ id }}" cdkTextareaAutosize #autosize="cdkTextareaAutosize" [formControl]="control"
                [type]="type" [maxlength]="maxLength" [placeholder]="placeholder"></textarea>

            <mat-error *ngIf="control.invalid" [innerHTML]="getErrorMessage()"></mat-error>
        </mat-form-field>
    </ng-container>
    <div *ngIf="status === 'PENDING'" class='loader'></div>
</div>