<div class="actions">
    <button (click)="moveUp()" style="grid-area: 'north';">^</button>
    <button (click)="moveLeft()" style="grid-area: 'east';">
        < &nbsp;</button>
            <button (click)="moveRigth()" style="grid-area: 'west';">></button>
            <button (click)="moveDown()" style="grid-area: 'south';">v</button>
</div>

<svg id="mainSvg" *ngIf="datas" preserveAspectRatio="xMinYMin meet">
    <!-- viewBox="0 0 500 500"-->
    <ng-container *ngFor="let data of datas">
        <ng-container *ngFor="let childId of data.childrenId">
            <g app-item-link [originX]="data.x" [originY]="data.y" [destinationX]="getItem(childId).x"
                [destinationY]="getItem(childId).y"></g>
        </ng-container>
    </ng-container>

    <ng-container *ngFor="let data of datas">
        <g app-item [id]="data.id" [x]="data.x" [y]="data.y" [text]="data.text" [actif]="data.actif"
            [heigthWhenOpen]="heigthWhenOpen" (selected)="onItemSelected($event)"></g>
    </ng-container>
</svg>