<div class="actions">
    <a (click)="moveUp()" class="north glyphicon glyphicon-triangle-top"></a>
    <a (click)="moveLeft()" class="east glyphicon glyphicon-triangle-left"></a>
    <a (click)="moveRigth()" class="west glyphicon glyphicon-triangle-right"></a>
    <a (click)="moveDown()" class="south glyphicon glyphicon-triangle-bottom"></a>
</div>

<svg id="mainSvg" *ngIf="datas" preserveAspectRatio="xMinYMin meet">
    <!-- viewBox="0 0 500 500"-->
    <ng-container *ngFor="let data of datas">
        <ng-container *ngFor="let childId of data.childrenId">
            <g app-item-link [originX]="data.x" [originY]="data.y" [destinationX]="getItem(childId).x"
                [destinationY]="getItem(childId).y"></g>
        </ng-container>
    </ng-container>

    <ng-container *ngFor="let data of datas">
        <g app-item [id]="data.id" [x]="data.x" [y]="data.y" [text]="data.text" [actif]="data.actif"
            [heigthWhenOpen]="heigthWhenOpen" (selected)="onItemSelected($event)"></g>
    </ng-container>
</svg>