#mainSvg {
    width: 100%;
    height: 700px;
}

.actions {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 40px 1fr;
    grid-template-areas: 
        ".      north       .           .       ."
        "east   .           west        .       add"
        ".      south       .           .       .";
}