#mainSvg {
    width: 100vw; 
    height: 99vh;
}

.actions {
    width: fit-content;
    position: absolute;
    right: 0px;
    top: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 40px 1fr;
    grid-template-areas: 
        ".      north       .           .       ."
        "east   .           west        .       add"
        ".      south       .           .       .";

    a {
        border-radius: 50%;
        padding: 10px;
        margin: 1px;
        border: 1px solid #bababa;
        color: #bababa;
        background-color: white;

        &:hover {
            margin: 0px;
            border: 2px solid #3974b3;
            color: #3974b3;
            text-decoration: none;
        }
    }

    .north {
        grid-area: north;
        transform: rotate(-90deg);
    }
    
    .east {
        grid-area: east;
        transform: rotate(180deg);
    }
    
    .west {
        grid-area: west;
    }
    
    .south {
        grid-area: south;
        transform: rotate(90deg);
    }
}