<div class="container">
    <label for="{{ id }}" class="label">{{ label }}
        <label class="required">{{ required ? '*' : '&nbsp;&nbsp;' }}</label>
    </label>

    <mat-form-field floatLabel="never">
        <input matInput id="{{ id }}" [formControl]="internalControl" [matAutocomplete]="auto" [maxlength]="maxLength"
            [placeholder]="placeholder" (focus)="onFocus()">

        <mat-error *ngIf="internalControl.hasError('mustSelecteElement')">Veuillez selectionner un élément dans la
            liste.
        </mat-error>
        <mat-error *ngIf="internalControl.invalid && !internalControl.hasError('mustSelecteElement')"
            [innerHTML]="getErrorMessage()">
        </mat-error>
    </mat-form-field>

    <div *ngIf="pending" class='loader'></div>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" autoActiveFirstOption
        [panelWidth]="'fit-content'">
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
            <strong>{{ option?.data[displayedProperty] }}</strong>
            <ng-container *ngIf="option?.data[displayedProperty] && option?.data[displayedProperty2]"> - </ng-container>
            <ng-container *ngIf="option?.data[displayedProperty2]"><em>{{ option?.data[displayedProperty2] }}</em>
            </ng-container>
        </mat-option>
    </mat-autocomplete>
</div>