.legendContent {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;

    background-color: white;
    opacity: 0.8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;

    .legendItem {
        margin-right: -15px;

        div {
            text-align: center;
        }
    }

}