.legendContent {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;

    background-color: white;
    opacity: 0.8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;

    .legendItem {
        margin-bottom: -15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;

        div {
            text-align: center;
        }
    }

}