.legendContent {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;

    padding: 10px;    
    padding-bottom: 15px;

    .legendItem {
        margin-bottom: -12px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;

        div {
            text-align: center;
        }
    }

}