.app-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "tree";

    .header {
        display: none;
    }
    .tree {
        grid-area: tree;
    }
    .form {
        position: absolute;

        background-color: white;
        opacity: 0.8;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;    
    }
    .legend {
        position: absolute;
        bottom: 0px;
    }
}

