.app-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "content";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}