.app-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "tree";

    .header {
        display: none;
    }
    .tree {
        grid-area: tree;
    }
    .form {
        margin-top: 5px;
        position: absolute;
        left: 150px;
    }
    .legend {
        position: absolute;
        left: 5px;
    }
}

