@import '_material.scss';

body {
    font-family: monospace;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    foreignObject {
        overflow: auto;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #3974b3;
    }

    .taxa-kingdom {
        color: #3974b3;
    }

    .taxa-phylum {
        color: #00bcd4;
    }

    .taxa-class {
        color: #009688;
    }

    .taxa-order {
        color: #4caf50;
    }

    .taxa-family {
        color: #8bc34a;
    }

    .taxa-genus {
        color: #cddc39;
    }

    .taxa-species {
        color: #ffc107;
    }
}


